/*
TODO:
Style the class “my-button” with the following default style:

- black background
- gray text color
- Text size of 24 pixels
- Black 1 pixel border
- Opacity of 40%

*/
.my-button {
  background: black;
  color: gray;
  font-size: 24px;
  border: solid black 1px;
  opacity: 40%;
  transition: 1s;
}

/*
When the user hovers over the button, change the background to blue and text color to white.
The opacity should be 100%.
Make a transition effect for all styles with a duration of 1 second.
*/

.my-button:hover {
  background-color: blue;
  color: white;
  opacity: 100%;
  transition: 1s;

}